.pieDepagina{
    display: flex;
    justify-content: space-between;
    background: #D6DFEC;
    box-shadow: 0em 1em 1em 2em #D6DFEC;
    padding-top: 2rem;
}

@media only screen and (max-width: 400px){
    .pieDepagina{
        width: 699px;
        height: 600px;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
}

@media screen and  (max-width: 820px) and (min-width: 410px){
    .pieDepagina{
        width: 1316px;
    }
}