.pieDepagina{
    display: flex;
    justify-content: space-between;
    background: #D6DFEC;
    box-shadow: 0em 1em 1em 2em #D6DFEC;
    padding-top: 2rem;
    position: relative;
    top: 452px;
}
.parrafo__hipertexto-footer{
    list-style: none;
    padding-top: 1.5rem;
}
.link__hipertexto-footer{
    text-decoration: none;
    font-family: raleway, serif;
    font-size: 16px;
    font-weight: 500;
    color:#464646;
}

.link__hipertexto-footer:hover{
    text-decoration: underline;
    color: #2A7AE4;
    text-decoration-color: #2276F1;
}

.formulario__pieDepagina{
    width: 322px;
    padding-right: 5rem;
    position: relative;
    right: 6rem;
    top: 3rem;
}

.titulo__formulario-pieDepagina{
    font-family: raleway, serif;
    font-size: 16px;
    font-weight: 700;
    color:#464646;
}
.logo__footer{
    width: 50px;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.titulo__footer{
    font-size: 1.3rem;
    padding-top: 2rem;
}

.titulo__footer-color{
    font-size: 1.3rem;
    padding-top: 1.8rem;
}

.container__contacto{
    position: relative;
    width: 100%;
    height: 37px;
    border-bottom: 2px solid #2276F1;
    margin: 42px 0;
}
.label__contacto{
    position: absolute;
    top: 177%;
    left: 5px;
    transform: translateY(-50px);
    font-size: 1.05rem;
    transition: 1s;
    font-family: raleway, serif;
    font-weight: 400;
}
.input__contacto:focus ~ .label__contacto{
    top: 20px;
    font-size: 1rem;
}
.input__contacto{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: raleway, serif;
    font-weight: 700;
    font-size: 16px;
    color: #262628;
    padding-left: 1rem;
}

.logo__contacto{
    position: absolute;
    right: 8px;
    top: 0.5rem;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}

.btn__contacto{
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    background: #2276F1;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-family: raleway, serif;
    font-weight: 500;
}

.btn__contacto:hover{
    background: #3E6380;
}

@media only screen and (max-width: 400px){
    .pieDepagina{
        display: none;
    }
}

@media screen and  (max-width: 820px) and (min-width: 410px){
    .pieDepagina{
        display: none;
    }
}